.box {
  width: 100%;
  height: auto;
  background-color: #f2f4ff;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 70% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 100%);
}

@media (min-width: 769px) {
  .box {
    clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 100%);
  }
}