.contact-animation:hover::before {
  transform: scale(1.1);
}

.contact-animation:hover {
  color: #6466f1;
  opacity: 0.7;
}

.flip-icon {
  transition: transform 0.5s ease;
}

.contact-animation:hover .flip-icon {
  transform: rotateY(180deg);
}