.custom-max-width {
  max-width: 450px;
}

.l-position {
  left: -27px;
}

.animate-work {
  animation-name: work;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.animate-icon {
  animation-name: workIcon;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes work {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes workIcon {
  0% {
    opacity: 1;
    transform: translateX(-40px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}